body {
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo {
    background: #CA3413;
}

#menu ul li:hover {
    background: #CA3413;
}

.button-more {
    background: #CA3413;
    color: white;
}

.loader {
    border-top: 16px solid #CA3413;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #CA3413 !important;
    background: #CA3413 !important;
    font-weight: normal !important;
    color: #fff !important;
}